GMAIL_APP_PASSWORD=xxx
MAIL_USERNAME=xxxx
MYSQLDB_PASSWORD=1234
MYSQLDB_USERNAME=root
OSS_ACCESS_KEY_ID=abcd
OSS_ACCESS_KEY_SECRET=abcd
OSS_BUCKET_NAME=abc-abcd
OSS_ENDPOINT=xxxx
PGDB_PASSWORD=1234
PGDB_USERNAME=root
REDIS_PASSWORD=1234
REDIS_USERNAME=